/* Universal Style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background colour for the page */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bullets from list */
header div ul {
    list-style-type: none;
}

/* Sets the list to display in a horizontal line */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removes underline from the link and turns font color white */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Changes only the letters 'seo' in the word to this color */
.seo {
    color: #d9dcd6;
}

/* Styles how the main image will sit */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling for the main content */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.services-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* Floats content to the left of the box */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Floats content to the right of the box */
.float-right {
    float: right;
    margin-left: 25px;
}

.services-content img {
    max-height: 200px;
}

/* Styling for the aside panel */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

